

	#titulo-principal {
		background-color: #851944;
		color: #FFFFFF;
		text-align: center;
		font-family: "Arial";
	}

	.titulo-secundario {
		font-family: "Arial";
	}
	
	p {
		text-align: justify;
		font-family: "Times New Roman", "Baskerville"
	}

	
	
